@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1.4px;
}

.space {
    background: linear-gradient(160deg, #000000, #222123 50%, #321f45 75%, #370d5e 100%);
} 
